<h1>Edit Product</h1>

<%= form_for(@product) do |f| %>
<%= render 'shared/error_messages_product' %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :brand %>
    <%= f.collection_select(:brand_id, current_user.brands.all, :id, :name, :selected => @product.brand.id) %>
  </div>
   <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
   <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= @product.name%>