<h1>Add new Product</h1>

<%= form_for @product, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<%= render 'shared/error_messages_product' %>

  <div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :brand %>
    <%= f.collection_select(:brand_id, current_user.brands.all, :id, :name) %>
  </div>
   <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
   <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit "Create" %>
<% end %>